<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Assignment - Arif Aygun

In [1]:
import pandas as pd

### 1- How many rows of data are in the DataFrame?

Please refer to the following link for this practice:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv

In [ ]:
ks_project = pd.read_csv(r"https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv")
ks_project.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66

In [ ]:
ks_project.shape

(65418, 13)

DataFrame has 65418 rows

### 2- What are the names and data types of the columns?

In [ ]:
print(ks_project.columns)

Index(['id', 'name', 'category', 'main_category', 'deadline', 'goal',
       'launched', 'state', 'backers', 'country', 'usd_pledged', 'currency',
       'pledged'],
      dtype='object')

In [ ]:
print(ks_project.dtypes)

id                 int64
name              object
category          object
main_category     object
deadline          object
goal             float64
launched          object
state             object
backers            int64
country           object
usd_pledged      float64
currency          object
pledged          float64
dtype: object

In [ ]:
print(type(ks_project))

<class 'pandas.core.frame.DataFrame'>

### 3- Do any of the columns contain null values?

In [ ]:
ks_project.isnull().values.any()

True

In [ ]:
ks_project.isnull()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65413,False,False,False,False,False,False,False,False,False,False,False,False,False
65414,False,False,False,False,False,False,False,False,False,False,False,False,False
65415,False,False,False,False,False,False,False,False,False,False,False,False,False
65416,False,False,False,False,False,False,False,False,False,False,False,False,False
65417,False,False,False,False,False,False,False,False,False,False,False,False,False

### 4- Find all successful documentary projects and sort them by the amount pledged. Print the top 10 highest pledges.

In [ ]:
ks_project['main_category']

0        Film & Video
1        Film & Video
2          Publishing
3             Theater
4        Film & Video
             ...
65413      Technology
65414      Technology
65415          Design
65416      Technology
65417          Design
Name: main_category, Length: 65418, dtype: object

In [ ]:
ks_project['category']

0           Documentary
1           Documentary
2            Nonfiction
3               Theater
4          Film & Video
              ...
65413             Sound
65414           Gadgets
65415    Product Design
65416        Technology
65417    Product Design
Name: category, Length: 65418, dtype: object

In [ ]:
success_doc_pro = ks_project[(ks_project["category"] == "Documentary") & (ks_project["state"] == "successful")]
print(success_doc_pro)

               id                                               name  \
1      1100844465                                       daily digest
9      1125367305            Meeting Andrei Tarkovsky - Film Website
24     1216330417  Do It Again: One Man's Quest to Reunite the Kinks
39     1039240602       The Film Dailies - Live From The Walnut Room
40     1211984590                               'Mister Rogers & Me'
...           ...                                                ...
64092  1205743261         AgriCultured: The Lives of Organic Farmers
64096  1334836761                           The Last Ring Home on TV
64117  1175698090                                 BlackBook Medellin
64129  1040239768  The Protestors at Standing Rock - Their Testim...
64259  1287371551                                   Connections Film

          category main_category             deadline     goal  \
1      Documentary  Film & Video  2009-06-01 02:20:00    700.0
9      Documentary  Film & Video  2009-06-21 02:31:00   1250.0
24     Documentary  Film & Video  2009-08-10 21:26:00   5500.0
39     Documentary  Film & Video  2009-09-15 01:00:00    500.0
40     Documentary  Film & Video  2009-09-20 05:59:00  10000.0
...            ...           ...                  ...      ...
64092  Documentary  Film & Video  2016-11-27 22:36:26   1000.0
64096  Documentary  Film & Video  2016-11-28 00:59:00   6000.0
64117  Documentary  Film & Video  2016-11-28 19:27:52   5000.0
64129  Documentary  Film & Video  2016-11-29 08:00:00   3000.0
64259  Documentary  Film & Video  2016-12-01 23:28:43  25000.0

                  launched       state  backers country  usd_pledged currency  \
1      2009-05-04 21:14:28  successful       14      US       700.00      USD
9      2009-05-30 06:27:42  successful       60      US      2721.00      USD
24     2009-05-17 05:55:13  successful       79      US      6632.32      USD
39     2009-08-15 19:52:42  successful        8      US       730.00      USD
40     2009-08-19 06:16:34  successful      176      US     10795.70      USD
...                    ...         ...      ...     ...          ...      ...
64092  2016-10-28 22:36:26  successful       10      US       500.00      USD
64096  2016-10-20 07:56:50  successful      176      US      4055.00      USD
64117  2016-10-19 19:27:52  successful       56      US      1106.00      USD
64129  2016-11-13 20:15:35  successful       74      US         0.00      USD
64259  2016-10-27 23:28:43  successful      179      US       300.00      USD

        pledged
1        700.00
9       2721.00
24      6632.32
39       730.00
40     10795.70
...         ...
64092   1000.00
64096  40830.00
64117   5437.00
64129   5000.00
64259  25581.00

[1087 rows x 13 columns]

In [ ]:
success_doc_pro

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00
9,1125367305,Meeting Andrei Tarkovsky - Film Website,Documentary,Film & Video,2009-06-21 02:31:00,1250.0,2009-05-30 06:27:42,successful,60,US,2721.00,USD,2721.00
24,1216330417,Do It Again: One Man's Quest to Reunite the Kinks,Documentary,Film & Video,2009-08-10 21:26:00,5500.0,2009-05-17 05:55:13,successful,79,US,6632.32,USD,6632.32
39,1039240602,The Film Dailies - Live From The Walnut Room,Documentary,Film & Video,2009-09-15 01:00:00,500.0,2009-08-15 19:52:42,successful,8,US,730.00,USD,730.00
40,1211984590,'Mister Rogers & Me',Documentary,Film & Video,2009-09-20 05:59:00,10000.0,2009-08-19 06:16:34,successful,176,US,10795.70,USD,10795.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64092,1205743261,AgriCultured: The Lives of Organic Farmers,Documentary,Film & Video,2016-11-27 22:36:26,1000.0,2016-10-28 22:36:26,successful,10,US,500.00,USD,1000.00
64096,1334836761,The Last Ring Home on TV,Documentary,Film & Video,2016-11-28 00:59:00,6000.0,2016-10-20 07:56:50,successful,176,US,4055.00,USD,40830.00
64117,1175698090,BlackBook Medellin,Documentary,Film & Video,2016-11-28 19:27:52,5000.0,2016-10-19 19:27:52,successful,56,US,1106.00,USD,5437.00
64129,1040239768,The Protestors at Standing Rock - Their Testim...,Documentary,Film & Video,2016-11-29 08:00:00,3000.0,2016-11-13 20:15:35,successful,74,US,0.00,USD,5000.00
64259,1287371551,Connections Film,Documentary,Film & Video,2016-12-01 23:28:43,25000.0,2016-10-27 23:28:43,successful,179,US,300.00,USD,25581.00

In [ ]:
success_doc_pro.sort_values(by=['usd_pledged'])

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
64129,1040239768,The Protestors at Standing Rock - Their Testim...,Documentary,Film & Video,2016-11-29 08:00:00,3000.0,2016-11-13 20:15:35,successful,74,US,0.000,USD,5000.0
63047,1077980678,Lives of The Homeless,Documentary,Film & Video,2016-10-25 00:51:09,100.0,2016-10-04 00:51:09,successful,1,US,0.000,USD,100.0
62397,1073535790,London Recruits,Documentary,Film & Video,2016-10-02 01:00:00,8000.0,2016-09-08 09:02:17,successful,103,GB,0.000,GBP,8603.0
31857,1025733989,Dominoes,Documentary,Film & Video,2014-08-21 03:25:28,10.0,2014-08-06 03:25:28,successful,6,CA,18.312,CAD,20.0
61581,100358406,Charlie vs Goliath,Documentary,Film & Video,2016-09-02 02:00:00,40000.0,2016-08-03 21:54:32,successful,267,US,25.000,USD,40546.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28003,1205913248,ILEANA'S SMILE,Documentary,Film & Video,2014-05-21 09:05:00,133000.0,2014-04-21 09:05:00,successful,1173,US,177421.000,USD,177421.0
12127,1326363492,The Culture High,Documentary,Film & Video,2012-08-04 04:00:00,190000.0,2012-06-22 01:40:20,successful,3448,US,240022.000,USD,240022.0
22237,122290911,The Killing of Tony Blair,Documentary,Film & Video,2013-10-07 18:17:14,50000.0,2013-08-28 18:17:14,successful,4459,GB,255150.000,GBP,163891.0
24166,1162836718,"""The Wrecking Crew"" The Untold Story of Rock &...",Documentary,Film & Video,2013-12-21 08:59:00,250000.0,2013-10-30 21:06:34,successful,4245,US,313158.000,USD,313158.0
11731,1078982332,BRIDEGROOM - An American Love Story,Documentary,Film & Video,2012-07-20 01:00:28,300000.0,2012-06-20 01:00:28,successful,6508,US,384376.000,USD,384376.0

In [ ]:
pledged_amount = success_doc_pro.sort_values('usd_pledged', ascending=False)
pledged_amount

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
11731,1078982332,BRIDEGROOM - An American Love Story,Documentary,Film & Video,2012-07-20 01:00:28,300000.0,2012-06-20 01:00:28,successful,6508,US,384376.000,USD,384376.0
24166,1162836718,"""The Wrecking Crew"" The Untold Story of Rock &...",Documentary,Film & Video,2013-12-21 08:59:00,250000.0,2013-10-30 21:06:34,successful,4245,US,313158.000,USD,313158.0
22237,122290911,The Killing of Tony Blair,Documentary,Film & Video,2013-10-07 18:17:14,50000.0,2013-08-28 18:17:14,successful,4459,GB,255150.000,GBP,163891.0
12127,1326363492,The Culture High,Documentary,Film & Video,2012-08-04 04:00:00,190000.0,2012-06-22 01:40:20,successful,3448,US,240022.000,USD,240022.0
28003,1205913248,ILEANA'S SMILE,Documentary,Film & Video,2014-05-21 09:05:00,133000.0,2014-04-21 09:05:00,successful,1173,US,177421.000,USD,177421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61581,100358406,Charlie vs Goliath,Documentary,Film & Video,2016-09-02 02:00:00,40000.0,2016-08-03 21:54:32,successful,267,US,25.000,USD,40546.0
31857,1025733989,Dominoes,Documentary,Film & Video,2014-08-21 03:25:28,10.0,2014-08-06 03:25:28,successful,6,CA,18.312,CAD,20.0
63047,1077980678,Lives of The Homeless,Documentary,Film & Video,2016-10-25 00:51:09,100.0,2016-10-04 00:51:09,successful,1,US,0.000,USD,100.0
62397,1073535790,London Recruits,Documentary,Film & Video,2016-10-02 01:00:00,8000.0,2016-09-08 09:02:17,successful,103,GB,0.000,GBP,8603.0
64129,1040239768,The Protestors at Standing Rock - Their Testim...,Documentary,Film & Video,2016-11-29 08:00:00,3000.0,2016-11-13 20:15:35,successful,74,US,0.000,USD,5000.0

In [ ]:
pledged_amount.head(10)

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
11731,1078982332,BRIDEGROOM - An American Love Story,Documentary,Film & Video,2012-07-20 01:00:28,300000.0,2012-06-20 01:00:28,successful,6508,US,384376.0,USD,384376.0
24166,1162836718,"""The Wrecking Crew"" The Untold Story of Rock &...",Documentary,Film & Video,2013-12-21 08:59:00,250000.0,2013-10-30 21:06:34,successful,4245,US,313158.0,USD,313158.0
22237,122290911,The Killing of Tony Blair,Documentary,Film & Video,2013-10-07 18:17:14,50000.0,2013-08-28 18:17:14,successful,4459,GB,255150.0,GBP,163891.0
12127,1326363492,The Culture High,Documentary,Film & Video,2012-08-04 04:00:00,190000.0,2012-06-22 01:40:20,successful,3448,US,240022.0,USD,240022.0
28003,1205913248,ILEANA'S SMILE,Documentary,Film & Video,2014-05-21 09:05:00,133000.0,2014-04-21 09:05:00,successful,1173,US,177421.0,USD,177421.0
27402,1135999291,Rewind To Fast-Forward,Documentary,Film & Video,2014-05-01 07:59:00,137000.0,2014-03-30 13:35:31,successful,4395,US,176746.0,USD,176746.0
16243,1061853312,Linsanity: the Movie,Documentary,Film & Video,2013-02-16 00:00:00,117000.0,2013-01-15 19:46:34,successful,2102,US,167917.0,USD,167917.0
27268,1228065368,El Voto Hispano | The Documentary,Documentary,Film & Video,2014-04-27 08:15:23,158000.0,2014-03-18 07:15:23,successful,461,US,165401.0,USD,165401.0
43820,1194449879,"PlantPure Nation, a Documentary with Dr. T. Co...",Documentary,Film & Video,2015-05-14 17:41:41,150000.0,2015-03-15 16:41:41,successful,1099,US,163930.0,USD,163930.0
55322,1264072338,BREXIT THE MOVIE,Documentary,Film & Video,2016-03-02 01:02:47,100000.0,2016-02-01 01:02:47,successful,1685,GB,162393.0,GBP,114000.0

##### - The top 10 highest pledges.

### 5- Create a new column named average_per_backer and set its value to the total amount pledged / number of backers.

In [ ]:
pledged_amount["average_per_backer"] = pledged_amount["usd_pledged"] / pledged_amount["backers"]
pledged_amount

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
11731,1078982332,BRIDEGROOM - An American Love Story,Documentary,Film & Video,2012-07-20 01:00:28,300000.0,2012-06-20 01:00:28,successful,6508,US,384376.000,USD,384376.0,59.062077
24166,1162836718,"""The Wrecking Crew"" The Untold Story of Rock &...",Documentary,Film & Video,2013-12-21 08:59:00,250000.0,2013-10-30 21:06:34,successful,4245,US,313158.000,USD,313158.0,73.771025
22237,122290911,The Killing of Tony Blair,Documentary,Film & Video,2013-10-07 18:17:14,50000.0,2013-08-28 18:17:14,successful,4459,GB,255150.000,GBP,163891.0,57.221350
12127,1326363492,The Culture High,Documentary,Film & Video,2012-08-04 04:00:00,190000.0,2012-06-22 01:40:20,successful,3448,US,240022.000,USD,240022.0,69.611949
28003,1205913248,ILEANA'S SMILE,Documentary,Film & Video,2014-05-21 09:05:00,133000.0,2014-04-21 09:05:00,successful,1173,US,177421.000,USD,177421.0,151.254049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61581,100358406,Charlie vs Goliath,Documentary,Film & Video,2016-09-02 02:00:00,40000.0,2016-08-03 21:54:32,successful,267,US,25.000,USD,40546.0,0.093633
31857,1025733989,Dominoes,Documentary,Film & Video,2014-08-21 03:25:28,10.0,2014-08-06 03:25:28,successful,6,CA,18.312,CAD,20.0,3.052000
63047,1077980678,Lives of The Homeless,Documentary,Film & Video,2016-10-25 00:51:09,100.0,2016-10-04 00:51:09,successful,1,US,0.000,USD,100.0,0.000000
62397,1073535790,London Recruits,Documentary,Film & Video,2016-10-02 01:00:00,8000.0,2016-09-08 09:02:17,successful,103,GB,0.000,GBP,8603.0,0.000000
64129,1040239768,The Protestors at Standing Rock - Their Testim...,Documentary,Film & Video,2016-11-29 08:00:00,3000.0,2016-11-13 20:15:35,successful,74,US,0.000,USD,5000.0,0.000000

In [ ]:
pledged_amount["usd_pledged"]

11731    384376.000
24166    313158.000
22237    255150.000
12127    240022.000
28003    177421.000
            ...
61581        25.000
31857        18.312
63047         0.000
62397         0.000
64129         0.000
Name: usd_pledged, Length: 1087, dtype: float64

### 6- What happened to the rows with 0 backers? How can this be dealt with?

In [ ]:
pledged_amount.shape

(1087, 14)

### 7- Drop all rows with 0 backers then repeat the previous exercise.

In [ ]:
pledged_amount.dropna()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
11731,1078982332,BRIDEGROOM - An American Love Story,Documentary,Film & Video,2012-07-20 01:00:28,300000.0,2012-06-20 01:00:28,successful,6508,US,384376.000,USD,384376.0,59.062077
24166,1162836718,"""The Wrecking Crew"" The Untold Story of Rock &...",Documentary,Film & Video,2013-12-21 08:59:00,250000.0,2013-10-30 21:06:34,successful,4245,US,313158.000,USD,313158.0,73.771025
22237,122290911,The Killing of Tony Blair,Documentary,Film & Video,2013-10-07 18:17:14,50000.0,2013-08-28 18:17:14,successful,4459,GB,255150.000,GBP,163891.0,57.221350
12127,1326363492,The Culture High,Documentary,Film & Video,2012-08-04 04:00:00,190000.0,2012-06-22 01:40:20,successful,3448,US,240022.000,USD,240022.0,69.611949
28003,1205913248,ILEANA'S SMILE,Documentary,Film & Video,2014-05-21 09:05:00,133000.0,2014-04-21 09:05:00,successful,1173,US,177421.000,USD,177421.0,151.254049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61581,100358406,Charlie vs Goliath,Documentary,Film & Video,2016-09-02 02:00:00,40000.0,2016-08-03 21:54:32,successful,267,US,25.000,USD,40546.0,0.093633
31857,1025733989,Dominoes,Documentary,Film & Video,2014-08-21 03:25:28,10.0,2014-08-06 03:25:28,successful,6,CA,18.312,CAD,20.0,3.052000
63047,1077980678,Lives of The Homeless,Documentary,Film & Video,2016-10-25 00:51:09,100.0,2016-10-04 00:51:09,successful,1,US,0.000,USD,100.0,0.000000
62397,1073535790,London Recruits,Documentary,Film & Video,2016-10-02 01:00:00,8000.0,2016-09-08 09:02:17,successful,103,GB,0.000,GBP,8603.0,0.000000
64129,1040239768,The Protestors at Standing Rock - Their Testim...,Documentary,Film & Video,2016-11-29 08:00:00,3000.0,2016-11-13 20:15:35,successful,74,US,0.000,USD,5000.0,0.000000

In [ ]:
pledged_amount.shape

(1087, 14)

### 8- Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.

In [ ]:
index = list('abcdefghij')
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
fibonacci = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

df = pd.DataFrame({"Primes": primes, "Fibonacci": fibonacci}, index = index)
print(df)

   Primes  Fibonacci
a       2          1
b       3          1
c       5          2
d       7          3
e      11          5
f      13          8
g      17         13
h      19         21
i      23         34
j      29         55

### 9- Merge these two DataFrames into a single DataFrame: nycflights13.

Please use the following dataset for merging purposes:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv

In [ ]:
flights = pd.read_csv(r"C:\Users\AAygun\Documents\GitHub\Data Sets\Magnimind\flights.csv")
airlines = pd.read_csv(r"C:\Users\AAygun\Documents\GitHub\Data Sets\Magnimind\airlines.csv")

In [ ]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [ ]:
airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [ ]:
nycflights13 = pd.merge(flights, airlines)
nycflights13

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00,United Air Lines Inc.
3,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,2013-01-01 06:00:00,United Air Lines Inc.
4,2013,1,1,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,2013-01-01 06:00:00,United Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,19,1759.0,1805,-6.0,1946.0,1953,-7.0,OO,5568,N760SK,LGA,CLE,64.0,419,18,5,2013-09-19 18:00:00,SkyWest Airlines Inc.
336772,2013,9,20,1758.0,1805,-7.0,1929.0,1953,-24.0,OO,5568,N766SK,LGA,CLE,60.0,419,18,5,2013-09-20 18:00:00,SkyWest Airlines Inc.
336773,2013,9,22,1759.0,1805,-6.0,1945.0,1953,-8.0,OO,5568,N772SK,LGA,CLE,67.0,419,18,5,2013-09-22 18:00:00,SkyWest Airlines Inc.
336774,2013,9,23,1759.0,1805,-6.0,1935.0,1953,-18.0,OO,5568,N776SK,LGA,CLE,68.0,419,18,5,2013-09-23 18:00:00,SkyWest Airlines Inc.
336775,2013,9,24,1751.0,1805,-14.0,1937.0,1953,-16.0,OO,5568,N785SK,LGA,CLE,67.0,419,18,5,2013-09-24 18:00:00,SkyWest Airlines Inc.

In [ ]:
nycflights13.isnull().any()

In [ ]:
nycflights13.notnull()

In [ ]:
new_dataframe = nycflights13.dropna(axis = 0, how ='any')

In [ ]:
nycflights13.isnull().any()

### 11- Merge these two DataFrames into a single DataFrame called census.

Please use the following dataset for merging purposes:

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv'

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv'

In [23]:
state_populations = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv')
census_divisions = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv')

In [ ]:
state_populations

In [ ]:
census_divisions

In [ ]:
census = pd.merge(state_populations, census_divisions)
census

### 12- Re-shape census so that one column contains all population measures, and another the year attributes.

In [ ]:
census.shape

In [ ]:
df = census.reset_index()
year_1 = pd.melt(census, id_vars=["state", "region", "division"],  value_vars=["2010", "2011", "2012", "2013", "2014", "2015", "2016"])
year_1

In [ ]:
year_2 = year_1.rename(columns={"variable": "year", "value": "population measures"})

In [ ]:
year_2

In [ ]:
grouped_by_year = year_2.groupby('year')
grouped_by_year.first()

### 15- Create a crosstab between state and category showing amount pledged as the value.

Please refer to the following link for this practice:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv

In [ ]:
ksproject=pd.read_csv(r"C:\Users\AAygun\Documents\GitHub\Data Sets\Magnimind\ksprojects.csv")

In [ ]:
ksproject.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66

In [ ]:
pd.crosstab(ksproject.state, ksproject.category)

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,...,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,
canceled,17,21,48,14,2,41,4,127,166,10,...,25,3,114,4,119,10,0,31,16,6
failed,59,86,238,79,31,245,34,684,784,86,...,71,8,634,28,656,125,12,174,78,26
live,3,3,16,1,0,8,6,37,28,4,...,7,0,23,3,5,4,1,2,1,1
successful,43,43,121,16,11,134,83,211,55,26,...,57,3,73,55,313,38,8,168,23,17
suspended,2,4,2,0,1,1,0,5,5,2,...,2,1,6,0,6,2,1,1,0,0
undefined,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# OFFICE HOUR SOLUTIONS

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv")
df.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66

In [4]:
print(len(df))

len(df) == df.shape[0]

65418

True

In [5]:
df.dtypes

id                 int64
name              object
category          object
main_category     object
deadline          object
goal             float64
launched          object
state             object
backers            int64
country           object
usd_pledged      float64
currency          object
pledged          float64
dtype: object

In [6]:
df.isnull().sum()

id                 0
name               0
category           0
main_category      0
deadline           0
goal               0
launched           0
state              0
backers            0
country            0
usd_pledged      745
currency           0
pledged            0
dtype: int64

In [7]:
df.isnull().sum()/len(df)*100 # percentage of null values

id               0.00000
name             0.00000
category         0.00000
main_category    0.00000
deadline         0.00000
goal             0.00000
launched         0.00000
state            0.00000
backers          0.00000
country          0.00000
usd_pledged      1.13883
currency         0.00000
pledged          0.00000
dtype: float64

In [8]:
# Find all successful documentaty projects and sort them by the amount of pledged.
# Print the top 10

df.loc[df['state'] == 'successful'].sort_values(by='pledged').head(10)

df[df['state'] == 'successful'].sort_values(by='usd_pledged', ascending=False).head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
12253,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09 07:00:00,950000.0,2012-07-10 14:44:41,successful,63416,US,8596480.0,USD,8596480.0
26917,1152735261,Pono Music - Where Your Soul Rediscovers Music,Sound,Technology,2014-04-15 19:30:42,800000.0,2014-03-11 18:30:42,successful,18220,US,6225360.0,USD,6225360.0
45290,1074800880,Bloodstained: Ritual of the Night,Video Games,Games,2015-06-13 05:00:00,500000.0,2015-05-11 18:58:41,successful,64867,US,5545990.0,USD,5545990.0
46419,1045500705,Zombicide: Black Plague,Tabletop Games,Games,2015-07-07 02:00:00,125000.0,2015-06-08 20:59:38,successful,20915,US,4079200.0,USD,4079200.0
59897,132311747,Massive Darkness,Tabletop Games,Games,2016-07-08 01:00:00,200000.0,2016-06-07 21:02:31,successful,22361,US,3560640.0,USD,3560640.0

In [9]:
# Create a new column named average_per_baker
# and set its value to the total amount pledged / number of backers

df['average_per_backer'] = df['pledged']/df['backers']
df.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00,10.000000
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00,50.000000
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00,42.718750
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00,273.958333
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66,22.802727

In [10]:
df['average_per_backer'].isnull().sum()

9282

In [11]:
df['pledged']/df.loc[df['backers'] == 0, 'backers']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
65413   NaN
65414   NaN
65415   NaN
65416   NaN
65417   NaN
Length: 65418, dtype: float64

In [14]:
df['average_per_backer'] = df['pledged'].div(df['backers'].values)
df.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00,10.000000
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00,50.000000
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00,42.718750
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00,273.958333
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66,22.802727

In [15]:
#What happened to the rows with 0 backers?
#How can this be dealt with

df['average_per_backer'] = df.loc[df['backers']!=0, 'pledged'] / df.loc[df['backers']!=0, 'backers']
df.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00,10.000000
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00,50.000000
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00,42.718750
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00,273.958333
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66,22.802727

In [8]:
import numpy as np
import pandas as pd

In [20]:
df['average_per_backer'] = np.where(df['backers']!=0, df['pledged'] / df['backers'], np.nan)
df.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00,10.000000
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00,50.000000
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00,42.718750
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00,273.958333
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66,22.802727

In [22]:
# np.where(condition, value1, value2)

### Solution 2

### 8- Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.

In [5]:
Prime_number = []

for i in range(100):
  L = []
  for j in range(2,i):
    if i%j == 0:
      L.append(i)
  if len(L) == 0 and i!=0 and i!=1:
    Prime_number.append(i)

Prime_number[:10]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [6]:
fibonacci_numbers = [0,1]

i = 0
while i<8:
  fibonacci_numbers.append(fibonacci_numbers[-1]+fibonacci_numbers[-2])
  i += 1

fibonacci_numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [10]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [13]:
list(string.ascii_uppercase[:10])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [14]:

df = pd.DataFrame({'Prime_number' : Prime_number[:10],
                   'fibonacci_numbers' : fibonacci_numbers},
                  index=list(string.ascii_uppercase[:10]))
df

   Prime_number  fibonacci_numbers
A             2                  0
B             3                  1
C             5                  1
D             7                  2
E            11                  3
F            13                  5
G            17                  8
H            19                 13
I            23                 21
J            29                 34

In [15]:
df.shape

(10, 2)

## SOLUTION 3

Merge these two DataFrames into a single DataFrame: nycflights13.
Please use the following dataset for merging purposes:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv

In [3]:
import pandas as pd

In [4]:
flights = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv')
airlines = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv')

In [5]:
display(flights.head())
display(airlines.head())

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [6]:
flights['carrier'].value_counts()

UA    58665
B6    54635
EV    54173
DL    48110
AA    32729
MQ    26397
US    20536
9E    18460
WN    12275
VX     5162
FL     3260
AS      714
F9      685
YV      601
HA      342
OO       32
Name: carrier, dtype: int64

In [7]:
airlines['carrier'].value_counts()

9E    1
AA    1
AS    1
B6    1
DL    1
EV    1
F9    1
FL    1
HA    1
MQ    1
OO    1
UA    1
US    1
VX    1
WN    1
YV    1
Name: carrier, dtype: int64

In [10]:
pd. merge(left=flights, right=airlines, on='carrier', how='outer')[['carrier', 'name']].value_counts()

carrier  name
UA       United Air Lines Inc.          58665
B6       JetBlue Airways                54635
EV       ExpressJet Airlines Inc.       54173
DL       Delta Air Lines Inc.           48110
AA       American Airlines Inc.         32729
MQ       Envoy Air                      26397
US       US Airways Inc.                20536
9E       Endeavor Air Inc.              18460
WN       Southwest Airlines Co.         12275
VX       Virgin America                  5162
FL       AirTran Airways Corporation     3260
AS       Alaska Airlines Inc.             714
F9       Frontier Airlines Inc.           685
YV       Mesa Airlines Inc.               601
HA       Hawaiian Airlines Inc.           342
OO       SkyWest Airlines Inc.             32
dtype: int64

In [11]:
nycflights13 = pd.merge(flights, airlines, on='carrier', how='inner')
nycflights13 = pd.merge(flights, airlines, on='carrier', how='outer')

display(nycflights13.sample(n=5, axis=0))

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
272968,2013,9,7,1134.0,1135,-1.0,1236.0,1300,-24.0,MQ,3461,N505MQ,LGA,BNA,96.0,764,11,35,2013-09-07 11:00:00,Envoy Air
320096,2013,11,4,1854.0,1900,-6.0,2144.0,2124,20.0,9E,3445,N936XJ,LGA,DSM,164.0,1031,19,0,2013-11-04 19:00:00,Endeavor Air Inc.
236482,2013,7,15,1634.0,1643,-9.0,1852.0,1907,-15.0,EV,5601,N720EV,LGA,CLT,88.0,544,16,43,2013-07-15 16:00:00,ExpressJet Airlines Inc.
136928,2013,8,1,2112.0,1936,96.0,9.0,2233,96.0,B6,1271,N613JB,LGA,FLL,157.0,1076,19,36,2013-08-01 19:00:00,JetBlue Airways
138921,2013,8,14,927.0,930,-3.0,1034.0,1048,-14.0,B6,586,N324JB,JFK,ROC,51.0,264,9,30,2013-08-14 09:00:00,JetBlue Airways

In [12]:
display(nycflights13.sample(n=10,axis=1))

,dep_time,day,flight,distance,arr_time,sched_arr_time,carrier,month,time_hour,sched_dep_time
0,517.0,1,1545,1400,830.0,819,UA,1,2013-01-01 05:00:00,515
1,533.0,1,1714,1416,850.0,830,UA,1,2013-01-01 05:00:00,529
2,554.0,1,1696,719,740.0,728,UA,1,2013-01-01 05:00:00,558
3,558.0,1,194,2475,924.0,917,UA,1,2013-01-01 06:00:00,600
4,558.0,1,1124,2565,923.0,937,UA,1,2013-01-01 06:00:00,600
...,...,...,...,...,...,...,...,...,...,...
336771,1759.0,19,5568,419,1946.0,1953,OO,9,2013-09-19 18:00:00,1805
336772,1758.0,20,5568,419,1929.0,1953,OO,9,2013-09-20 18:00:00,1805
336773,1759.0,22,5568,419,1945.0,1953,OO,9,2013-09-22 18:00:00,1805
336774,1759.0,23,5568,419,1935.0,1953,OO,9,2013-09-23 18:00:00,1805
336775,1751.0,24,5568,419,1937.0,1953,OO,9,2013-09-24 18:00:00,1805

In [14]:
#join() is used to combine two Dataframes on the index
# but not on columns whereas merge is primarily used to
# specify the columns you wanted to join on

#In other word Merge combines Dataframes based on values in shared columns.

nycflights13 = flights.set_index('carrier').join(airlines.set_index('carrier'))
nycflights13

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
carrier,,,,,,,,,,,,,,,,,,,
9E,2013,1,1,810.0,810,0.0,1048.0,1037,11.0,3538,N915XJ,JFK,MSP,189.0,1029,8,10,2013-01-01 08:00:00,Endeavor Air Inc.
9E,2013,1,1,1451.0,1500,-9.0,1634.0,1636,-2.0,4105,N8444F,JFK,IAD,57.0,228,15,0,2013-01-01 15:00:00,Endeavor Air Inc.
9E,2013,1,1,1452.0,1455,-3.0,1637.0,1639,-2.0,3295,N920XJ,JFK,BUF,68.0,301,14,55,2013-01-01 14:00:00,Endeavor Air Inc.
9E,2013,1,1,1454.0,1500,-6.0,1635.0,1636,-1.0,3843,N8409N,JFK,SYR,57.0,209,15,0,2013-01-01 15:00:00,Endeavor Air Inc.
9E,2013,1,1,1507.0,1515,-8.0,1651.0,1656,-5.0,3792,N8631E,JFK,ROC,66.0,264,15,15,2013-01-01 15:00:00,Endeavor Air Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YV,2013,9,29,1650.0,1629,21.0,1810.0,1750,20.0,3771,N518LR,LGA,IAD,41.0,229,16,29,2013-09-29 16:00:00,Mesa Airlines Inc.
YV,2013,9,29,1801.0,1735,26.0,1957.0,1946,11.0,2751,N932LR,LGA,CLT,79.0,544,17,35,2013-09-29 17:00:00,Mesa Airlines Inc.
YV,2013,9,30,1643.0,1629,14.0,1800.0,1750,10.0,3771,N510MJ,LGA,IAD,42.0,229,16,29,2013-09-30 16:00:00,Mesa Airlines Inc.
YV,2013,9,30,1731.0,1735,-4.0,1921.0,1946,-25.0,2751,N905FJ,LGA,CLT,78.0,544,17,35,2013-09-30 17:00:00,Mesa Airlines Inc.
YV,2013,9,30,2000.0,2000,0.0,2207.0,2211,-4.0,2677,N924FJ,LGA,CLT,75.0,544,20,0,2013-09-30 20:00:00,Mesa Airlines Inc.

In [17]:
pd.concat([flights.set_index('carrier'), airlines.set_index('carrier')])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
carrier,,,,,,,,,,,,,,,,,,,
UA,2013.0,1.0,1.0,517.0,515.0,2.0,830.0,819.0,11.0,1545.0,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00,NaN
UA,2013.0,1.0,1.0,533.0,529.0,4.0,850.0,830.0,20.0,1714.0,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00,NaN
AA,2013.0,1.0,1.0,542.0,540.0,2.0,923.0,850.0,33.0,1141.0,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00,NaN
B6,2013.0,1.0,1.0,544.0,545.0,-1.0,1004.0,1022.0,-18.0,725.0,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00,NaN
DL,2013.0,1.0,1.0,554.0,600.0,-6.0,812.0,837.0,-25.0,461.0,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Air Lines Inc.
US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US Airways Inc.
VX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin America
WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southwest Airlines Co.
YV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesa Airlines Inc.

### Solution 4
Merge these two DataFrames into a single DataFrame called census.
Please use the following dataset for merging purposes:

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv'

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv'

In [19]:
import pandas as pd
df1 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv')
df2 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv')

In [20]:
display(df1.head())
display(df2.head())

,state,2010,2011,2012,2013,2014,2015,2016
0,Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1,Alaska,714031,722713,731089,736879,736705,737709,741894
2,Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071
3,Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248
4,California,37332685,37676861,38011074,38335203,38680810,38993940,39250017

           state     region     division
0    Connecticut  Northeast  New England
1          Maine  Northeast  New England
2  Massachusetts  Northeast  New England
3  New Hampshire  Northeast  New England
4   Rhode Island  Northeast  New England

In [21]:
cencus = pd.merge(df1,df2, how='inner', on='state')
cencus.head()

,state,2010,2011,2012,2013,2014,2015,2016,region,division
0,Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300,South,East South Central
1,Alaska,714031,722713,731089,736879,736705,737709,741894,West,Pacific
2,Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071,West,Mountain
3,Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248,South,West South Central
4,California,37332685,37676861,38011074,38335203,38680810,38993940,39250017,West,Pacific

In [22]:
cencus_transpose = cencus.transpose()
display(cencus_transpose)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2010,4785492,714031,6408312,2921995,37332685,5048644,3579899,899816,605183,18849098,...,816325,6356671,25244310,2775326,625982,8025773,6743226,1854230,5690263,564513
2011,4799918,722713,6467163,2939493,37676861,5118360,3589893,907924,620477,19096952,...,824398,6397634,25646389,2816124,626730,8110035,6822520,1854972,5709640,567725
2012,4815960,731089,6549634,2950685,38011074,5189867,3593795,916993,635327,19344156,...,834441,6454306,26071655,2855782,626444,8192048,6895226,1856560,5726177,576765
2013,4829479,736879,6624617,2958663,38335203,5267603,3596003,925395,649165,19582022,...,844922,6494821,26473525,2902663,627140,8262692,6968006,1853231,5742854,582684
2014,4843214,736705,6719993,2966912,38680810,5349648,3591873,934948,659005,19888741,...,852561,6544663,26944751,2941836,626984,8317372,7054196,1848514,5758377,583642
2015,4853875,737709,6817565,2977853,38993940,5448819,3584730,944076,670377,20244914,...,857919,6595056,27429639,2990632,626088,8367587,7160290,1841053,5767891,586555
2016,4863300,741894,6931071,2988248,39250017,5540545,3576452,952065,681170,20612439,...,865454,6651194,27862596,3051217,624594,8411808,7288000,1831102,5778708,585501
region,South,West,West,South,West,West,Northeast,South,South,South,...,Midwest,South,South,West,Northeast,South,West,South,Midwest,West
division,East South Central,Pacific,Mountain,West South Central,Pacific,Mountain,New England,South Atlantic,South Atlantic,South Atlantic,...,West North Central,East South Central,West South Central,Mountain,New England,South Atlantic,Pacific,South Atlantic,East North Central,Mountain

In [24]:
cencus['2010'].sum()

309348193

In [26]:
cencus_year = cencus.transpose().iloc[1:8].sum(axis=1)

In [27]:
display(cencus_year)

2010    309348193.0
2011    311663358.0
2012    313998379.0
2013    316204908.0
2014    318563456.0
2015    320896618.0
2016    323127513.0
dtype: float64

In [28]:
cencus_year.index.name = 'Year'
cencus_year.columns = ['Population']
display(cencus_year)

Year
2010    309348193.0
2011    311663358.0
2012    313998379.0
2013    316204908.0
2014    318563456.0
2015    320896618.0
2016    323127513.0
dtype: float64

In [30]:
display(cencus.groupby('state').sum().head())
display(cencus.groupby('region').sum().head())
display(cencus.groupby('division').sum().head())
cencus['division'].value_counts()

,2010,2011,2012,2013,2014,2015,2016
state,,,,,,,
Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300
Alaska,714031,722713,731089,736879,736705,737709,741894
Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071
Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248
California,37332685,37676861,38011074,38335203,38680810,38993940,39250017

,2010,2011,2012,2013,2014,2015,2016
region,,,,,,,
Midwest,66978602,67153331,67332320,67543948,67726368,67838387,67941429
Northeast,55388056,55632766,55829059,55988771,56116791,56184737,56209510
South,114863114,116061801,117299171,118424320,119696311,121039206,122319574
West,72118421,72815460,73537829,74247869,75023986,75834288,76657000

,2010,2011,2012,2013,2014,2015,2016
division,,,,,,,
East North Central,46440847,46507169,46572795,46660465,46731329,46742511,46755973
East South Central,18461147,18545068,18640010,18715259,18793334,18862932,18940194
Middle Atlantic,40918712,41105065,41247834,41354046,41434081,41474508,41473985
Mountain,22126486,22347471,22609504,22875549,23167555,23492558,23855067
New England,14469344,14527701,14581225,14634725,14682710,14710229,14735525

South Atlantic        9
Mountain              8
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
West South Central    4
Middle Atlantic       3
Name: division, dtype: int64

In [31]:
cencus.groupby('state').sum().sum() == cencus.groupby('region').sum().sum()
cencus.groupby('region').sum().sum() == cencus.groupby('division').sum().sum()
cencus.groupby('state').sum().sum() == cencus.groupby('division').sum().sum()

2010    True
2011    True
2012    True
2013    True
2014    True
2015    True
2016    True
dtype: bool

### SOLUTION 5

Create a crosstab between state and category showing amount pledged as the value.
Please refer to the following link for this practice:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv

In [33]:
import pandas as pd
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv')
df.head()

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66

In [34]:
pd.crosstab(index=df['state'], columns=df['category'], values=df['pledged'], aggfunc=sum)

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,...,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,
canceled,106827.50,4364.00,124936.11,13342.0,0.00,58910.00,4583.00,228836.00,174745.49,12311.00,...,239056.0,212.0,88658.00,5668.00,54679.39,153.01,NaN,17136.00,661.00,6940.00
failed,371417.00,81427.74,320990.20,79978.1,15769.87,498129.57,20991.00,401102.55,553596.12,139656.99,...,718671.5,6686.0,382408.65,26085.00,1065147.12,60328.00,2360.0,120691.83,20920.20,19692.00
live,309215.00,31.00,60904.00,0.0,NaN,98403.80,3339.00,236921.59,60101.00,2117.00,...,141310.0,NaN,57931.00,82120.00,185.00,1211.73,0.0,9580.00,575.00,80.00
successful,8511414.01,354485.24,2569489.70,226333.9,75497.10,2605326.54,1346909.64,6446055.31,755165.60,460293.08,...,7381979.5,6019.0,912191.70,1164701.39,3821840.97,214568.35,21885.0,1069703.20,145305.62,48668.53
suspended,10146.00,226.00,3822.00,NaN,0.00,0.00,NaN,56213.00,12989.00,131.00,...,9344.0,0.0,50.00,NaN,14878.00,91.00,0.0,37.00,NaN,NaN
undefined,13757.00,NaN,2763.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df['category'].nunique()

158

In [37]:
# Another crosstab method ----> pivot table
res = pd.pivot_table(df, index='state', columns = 'category', values='pledged', aggfunc=sum)
res

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,...,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,
canceled,106827.50,4364.00,124936.11,13342.0,0.00,58910.00,4583.00,228836.00,174745.49,12311.00,...,239056.0,212.0,88658.00,5668.00,54679.39,153.01,NaN,17136.00,661.00,6940.00
failed,371417.00,81427.74,320990.20,79978.1,15769.87,498129.57,20991.00,401102.55,553596.12,139656.99,...,718671.5,6686.0,382408.65,26085.00,1065147.12,60328.00,2360.0,120691.83,20920.20,19692.00
live,309215.00,31.00,60904.00,0.0,NaN,98403.80,3339.00,236921.59,60101.00,2117.00,...,141310.0,NaN,57931.00,82120.00,185.00,1211.73,0.0,9580.00,575.00,80.00
successful,8511414.01,354485.24,2569489.70,226333.9,75497.10,2605326.54,1346909.64,6446055.31,755165.60,460293.08,...,7381979.5,6019.0,912191.70,1164701.39,3821840.97,214568.35,21885.0,1069703.20,145305.62,48668.53
suspended,10146.00,226.00,3822.00,NaN,0.00,0.00,NaN,56213.00,12989.00,131.00,...,9344.0,0.0,50.00,NaN,14878.00,91.00,0.0,37.00,NaN,NaN
undefined,13757.00,NaN,2763.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
import numpy as np
pd.set_option('Display.max_columns', None, 'Display.max_rows', None)

In [44]:
res_1 = pd.pivot_table(df, index='state', columns='category', values='pledged', aggfunc=[sum, np.mean,np.mean, np.std])

In [45]:
res_1['std']

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,Art,Art Books,Audio,Bacon,Blues,Calendars,Camera Equipment,Candles,Ceramics,Children's Books,Childrenswear,Chiptune,Civic Design,Classical Music,Comedy,Comic Books,Comics,Community Gardens,Conceptual Art,Cookbooks,Country & Folk,Couture,Crafts,Crochet,DIY,DIY Electronics,Dance,Design,Digital Art,Documentary,Drama,Drinks,Electronic Music,Embroidery,Events,Experimental,Fabrication Tools,Faith,Family,Fantasy,Farmer's Markets,Farms,Fashion,Festivals,Fiction,Film & Video,Fine Art,Flight,Food,Food Trucks,Footwear,Gadgets,Games,Gaming Hardware,Glass,Graphic Design,Graphic Novels,Hardware,Hip-Hop,Horror,Illustration,Immersive,Indie Rock,Installations,Interactive Design,Jazz,Jewelry,Journalism,Kids,Knitting,Latin,Letterpress,Literary Journals,Live Games,Makerspaces,Metal,Mixed Media,Mobile Games,Movie Theaters,Music,Music Videos,Musical,Narrative Film,Nature,Nonfiction,Painting,People,Performance Art,Performances,Periodicals,Pet Fashion,Photo,Photobooks,Photography,Places,Playing Cards,Plays,Poetry,Pop,Pottery,Print,Printing,Product Design,Public Art,Publishing,Punk,Puzzles,Quilts,R&B,Radio & Podcasts,Ready-to-wear,Residencies,Restaurants,Robots,Rock,Romance,Science Fiction,Sculpture,Shorts,Small Batch,Software,Sound,Space Exploration,Spaces,Stationery,Tabletop Games,Taxidermy,Technology,Television,Textiles,Theater,Thrillers,Translations,Typography,Vegan,Video,Video Art,Video Games,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
canceled,12433.470481,418.371679,7719.515676,2103.435615,0.000000,3494.450657,1556.032642,12743.828359,6063.194405,3643.603907,554.052715,885.559971,126.725730,9.066422,91.664242,919.893599,5109.369936,173.982539,178.941730,1910.674924,801.803296,NaN,NaN,811.453890,5342.688701,1814.968302,1626.342285,106.688539,675.557706,29.288873,2092.740092,6.633250,1083.906386,17.677670,52.571352,1867.518736,816.021224,7156.791446,252.311900,1912.003807,5306.069574,2067.098966,972.964636,0.577350,1766.317167,4581.636783,10749.631287,20005.927760,2062.872512,8967.310153,0.000000,2304.346719,1807.712851,741.957738,768.675713,9793.749823,473.100706,2996.201211,3427.977419,598.940703,4467.061997,9140.574985,10294.058735,7.086891e+02,NaN,3872.910105,1343.439756,38940.144657,1199.345580,1628.847074,362.414907,0.000000,812.425972,1769.578575,1579.214045,657.769717,5331.892194,593.811119,371.645665,6629.652992,0.000000,NaN,2937.441438,2003.172972,7442.672258,691.415241,2946.935044,4427.001014,25.289985,1714.060949,804.749161,288.875006,30911.136545,78.059984,1026.900884,1249.018757,2433.104534,792.985516,576.183565,17852.460359,NaN,922.774349,542.674575,893.247285,385.438766,4021.428557,739.130414,477.562237,915.216240,204.268410,86.652933,218.308141,17294.839263,3107.478360,2215.491415,35.923199,303.912816,35.355339,2092.894476,2494.561850,3790.054923,NaN,942.671977,15556.195483,715.814393,593.969696,1485.043715,679.912469,1847.843286,312.569969,3166.744828,1.098851e+04,1550.941945,1837.232702,47.689971,7484.149471,NaN,10038.927661,3899.380574,734.385003,5010.796669,2568.567649,NaN,39.597980,297.766026,50.308493,58.312377,8939.801663,17773.809769,68.529799,5974.666368,1766.715785,1852.640460,34.315358,NaN,1505.282071,73.309134,2743.118056
failed,15700.889605,5142.842297,2807.980244,4699.010576,1513.614280,5438.358881,959.622369,1762.852229,3094.314509,5926.767117,3226.225455,3163.292323,1855.594553,650.230552,822.320191,328.728630,9197.037598,162.995081,527.587397,1628.994163,2776.785582,NaN,5695.829399,2684.020523,4593.666265,1705.974383,2145.566766,2437.969537,576.704550,1377.676634,2947.118956,1835.508021,835.570179,122.486440,1725.821785,3188.058940,2290.122111,40402.003055,917.999788,4494.205699,8170.227138,3990.324830,931.361170,52.590768,1123.513312,640.699335,1656.852975,924.175868,2901.767283,30389.467414,502.791155,2683.016348,2669.546903,743.429293,1755.306150,5098.385214,2194.877317,17953.476968,3868.571368,1471.069907,4021.876828,10720.766427,4832.707952,6.686987e+03,194.963836,2971.162476,2535.832754,13587.240084,1119.748616,11905.117461,2130.222166,2990.204935,1844.241355,2301.109473,4461.312205,2727.825330,611.970836,2136.431542,981.949061,882.899658,13157.498741,351.432070,207.638497,19432.189662,5317.835634,713.195131,1988.479462,2223.440401,3565.830867,2556.624248,1474.607342,4214.192437,11148.232498,828.464468,2194.008502,849.032520,2030.872812,4175.598702,847.550936,4023.204544,346.042989,1092.832433,2911.276105,4961.327290,504.241640,1401.768174,1535.831704,344.404513,1676.437383,3895.685752,701.546505,868.480022,10717.082036,8125.660139,2294.630518,613.243653,29668.260183,1477.225978,821.534651,2446.222983,1620.432732,568.513852,3335.757717,1714.275635,3616.613458,1670.623709,5611.707494,2774.332635,2109.693269,1811.306186,4686.829914,5.667228e+03,2470.457904,2870.456899,105.750404,5400.185767,1269.256672,8580.726804,1173.552048,1955.690011,2858.490954,2977.605474,1337.068949,563.790446,9586.666180,9088.390511,354.806722,13683.079245,33100.255992,2262.418728,3846.994281,1539.169481,11160.309570,2397.859081,416.727147,1666.690087,710.910982,1419.637308
live,177112.738340,10.016653,7706.127406,NaN,NaN,29535.979973,727.205267,13453.934900,6256.776454,587.147554,8611.201458,71354.905891,526.087445,NaN,2418.305192,33932.640216,NaN,NaN,190.211724,8466.264607,228.665695,NaN,NaN,419.138303,5305.325998,1150.405839,277.020457,NaN,1866.761902,NaN,1889.358331,NaN,6207.137869,NaN,3672.983121,621.524202,247.487373,566775.819667,NaN,19221.729273,2079.304587,2721.162284,10841.867502,NaN,NaN,968.190580,NaN,66.530695,16020.918341,NaN,NaN,342.368710,18783.844051,NaN,245.133166,7273.372323,1086.002901,NaN,72971.519389,63.508530,15438.450829,27279.220807,2944.828229,4.216162e+02,NaN,500.629271,1145.074744,27898.604446,49.438273,2031.450139,2436.736889,1701.298916,4670.440290,NaN,NaN,NaN,1286.396647,168.634714,NaN,NaN,683.105653,NaN,NaN,628.824512,81233.923573,5564.223261,1067.583177,456.351962,2174.353352,3549.660099,441.462116,388.908730,2306.006969,NaN,9180.068293,796.084020,NaN,890.954544,510.802229,NaN,NaN,NaN,6519.505246,NaN,NaN,781.352993,2062.165679,179.364586,258.968467,NaN,NaN,890.954544,119605.130971,18402.812942,5823.276140,NaN,1623.517170,NaN,NaN,70.769579,NaN,NaN,9245.570791,NaN,10193.042524,4536.797108,4537.548053,NaN,3853.331471,6993.271721,2028.381019,1.388636e+04,NaN,2188.495488,NaN,64104.023006,NaN,16143.971837,2382.729807,NaN,1137.320975,10095.363515,NaN,NaN,1438.255193,NaN,NaN,28521.023122,33619.782978,NaN,10867.169884,44817.092469,51.429563,572.711153,NaN,1004.091629,NaN,NaN
successful,526461.594159,12343.741225,43547.881609,18155.891875,9958.743025,32220.114756,46782.202001,90339.501174,14171.706397,16781.771244,12306.868263,21883.191272,59661.172934,12893.439516,8914.485311,20390.965800,326988.042865,1750.855819,10280.778944,12466.803037,12666.953984,14792.663909,26441.080006,16244.872925,12011.793734,9332.207220,35233.779015,9901.759748,4524.331744,32759.104040,8723.818689,8935.965605,14313.475307,769.692285,6812.900749,138884.438579,4952.945501,71156.992630,37100.876009,28847.312430,14040.625181,17885.245887,12611.426198,NaN,7567.813773,4666.451481,365474.414458,7859.458058,32645.288272,42569.222720,7020.187555,13634.798273,41941.507594,10040.377089,6811.810828,21082.900985,12898.976636,119157.991419,75679.606493,13644.651134,90883.506766,167102.740752,44372.356220,2.323531e+06,8000.767385,96157.638020,30738.650677,322977.570106,8641.471107,17667.898475,14874.635560,15796.174093,10481.142813,7495.901463,16697.597433,5332.282838,24907.093959,11245.620792,11690.144976,5325.981037,4191.606858,3322.936081,17500.347813,17298.661342,7190.483667,5020.928568,96942.656634,29939.130451,50464.465507,12523.174197,6293.348457,7904.164435,25304.001645,18817.742309,10702.224156,9555.187602,8439.970152,6340.257086,4440.809877,12574.400939,11012.920968,991.456403,63006.444255,23238.330913,4813.219620,43704.315932,6326.029689,7606.877927,7024.108243,7062.026303,8743.354007,1995.726504,250502.332150,10703.595903,42945.486374,1903.101894,6415.044393,7756.961390,7350.389056,49908.453731,20652.967197,NaN,30955.693713,95015.061483,12215.211456,5328.831683,76136.272338,173961.537482,6706.132494,23830.322278,24169.489491,1.075045e+06,221873.577825,15083.730901,3118.025829,270484.907027,NaN,204209.548839,20502.366469,6775.903543,8480.374224,29573.190798,16013.901299,24498.506705,18617.215503,6761.728677,14076.829748,329244.039836,227731.378617,1279.344494,20385.237050,52451.403600,31226.880693,7463.282245,1688.157486,6440.958276,10896.423817,3716.516278
suspended,7131.878995,106.437775,2399.920415,NaN,NaN,NaN,NaN,24183.723427,4276.912461,48.790368,NaN,NaN,NaN,0.707107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,10.408330,NaN,37.166293,NaN,NaN,NaN,NaN,NaN,448.119311,NaN,6.350853,NaN,NaN,24944.439044,NaN,384.666089,NaN,69.282032,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9855.967647,NaN,0.707107,NaN,NaN,71.417785,20192.505429,NaN,11080.955163,3924.148382,56.114042,1.189708e+04,NaN,NaN,NaN,5251.223425,253.851334,NaN,NaN,NaN,40.305087,67.175144,NaN,70.710678,NaN,7.071068,NaN,NaN,NaN,NaN,NaN,103.412335,NaN,12.020815,25.455844,40.253364,NaN,5894.370685,NaN,NaN,17885.558923,NaN,NaN,NaN,5.741661,121.243557,NaN,NaN,NaN,NaN,NaN,28.284271,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32181.840079,7505.002798,6.363961,NaN,NaN,NaN,NaN,NaN,65.053824,NaN,0.500000,901.561146,35.355339,NaN,NaN,1578.969442,21298.056249,87.681241,2.828427,1.274101e+02,2.645751,NaN,NaN,7143.602416,NaN,34133.248476,NaN,NaN,NaN,7.071068,NaN,NaN,NaN,NaN,NaN,7510.329362,4203.042707,NaN,20.412415,NaN,3545.430787,64.346717,NaN,NaN,NaN,NaN
undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2415.824965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4031.175877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,856.647664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
res_1

                   sum                                                         \
category   3D Printing   Academic Accessories    Action   Animals   Animation
state
canceled     106827.50    4364.00   124936.11   13342.0      0.00    58910.00
failed       371417.00   81427.74   320990.20   79978.1  15769.87   498129.57
live         309215.00      31.00    60904.00       0.0       NaN    98403.80
successful  8511414.01  354485.24  2569489.70  226333.9  75497.10  2605326.54
suspended     10146.00     226.00     3822.00       NaN      0.00        0.00
undefined     13757.00        NaN     2763.00       NaN       NaN         NaN

                                                                        \
category   Anthologies     Apparel       Apps Architecture         Art
state
canceled       4583.00   228836.00  174745.49     12311.00    29506.14
failed        20991.00   401102.55  553596.12    139656.99   528273.77
live           3339.00   236921.59   60101.00      2117.00    77595.41
successful  1346909.64  6446055.31  755165.60    460293.08  3298333.71
suspended          NaN    56213.00   12989.00       131.00        0.00
undefined          NaN         NaN        NaN          NaN         NaN

                                                                \
category     Art Books      Audio    Bacon    Blues  Calendars
state
canceled      14033.09     541.00     31.0    470.0    5263.00
failed       294030.35   16584.00   5177.0  10069.0    5657.02
live         287242.00    1664.00   1381.0   4420.0   48340.00
successful  3087076.01  590644.77  57115.0  99588.0  306635.41
suspended      1400.52        NaN      1.0      NaN   10693.00
undefined          NaN        NaN      NaN      NaN        NaN

                                                                  \
category   Camera Equipment   Candles  Ceramics Children's Books
state
canceled           48043.50   1439.00     806.0         53382.01
failed            121108.75   4623.00    6021.0        454783.37
live                5921.00      0.00     269.0         71478.11
successful       5426436.00  14408.01  220099.0       3122022.85
suspended           4375.00       NaN       NaN              NaN
undefined               NaN       NaN       NaN              NaN

                                                                             \
category   Childrenswear  Chiptune Civic Design Classical Music      Comedy
state
canceled         6070.60     28.00       1833.0         9988.00    72922.21
failed          68861.00       NaN      91037.5       186425.22   253610.17
live              784.00       NaN          0.0         1389.00    39661.00
successful     142913.27  62645.83     402552.5      2151253.65  1226153.54
suspended            NaN       NaN        370.0            0.00       35.00
undefined            NaN       NaN          NaN             NaN         NaN

                                                                     \
category   Comic Books      Comics Community Gardens Conceptual Art
state
canceled      26640.00    46538.92             718.0        3365.69
failed        88176.01   404000.29           39245.0       24727.01
live          15416.93      574.00               NaN        2690.00
successful  1173676.27  6115498.06           90942.4      225399.64
suspended       109.00       92.00               NaN            NaN
undefined          NaN         NaN               NaN            NaN

                                                                              \
category    Cookbooks Country & Folk  Couture      Crafts Crochet        DIY
state
canceled       167.00       35309.04     21.0    28804.40    25.0     753.00
failed       23844.00      238956.38  22643.0   143418.77  1474.0   50717.00
live          3863.00        8118.00     55.0    33529.00     NaN   10678.45
successful  637210.24     3448604.47  64458.0  1158286.91  4862.0  159748.30
suspended        0.00            NaN      0.0     1023.00     NaN      11.00
undefined         NaN            NaN      NaN         NaN     NaN        NaN

                                                                             \
category   DIY Electronics       Dance      Design Digital Art  Documentary
state
canceled           15942.0     7941.50   260412.70     3515.00    231444.58
failed             70565.0   106039.99  1800851.86    44376.69   2686899.76
live                2009.0      350.00  2182109.00       25.00    144990.00
successful       4498787.2  1540676.28  6212822.98   623569.04  20372005.26
suspended              NaN         NaN   132481.50        0.00       544.00
undefined              NaN         NaN         NaN         NaN          NaN

                                                                           \
category         Drama      Drinks Electronic Music Embroidery     Events
state
canceled      34231.00    31179.00         10861.00        1.0   10145.99
failed       268517.50   403919.02         78335.54      487.0   36647.00
live          15287.00    12468.00         34629.12        0.0       0.00
successful  1180679.58  1862547.80        774052.08     8117.0  132875.47
suspended     12402.50      120.00          1317.00        NaN       0.00
undefined          NaN         NaN              NaN        NaN        NaN

                                                                          \
category   Experimental Fabrication Tools      Faith    Family   Fantasy
state
canceled       21819.20           31898.0   61793.00    3573.0   38325.0
failed         16502.00           20942.0   44191.04   38108.0  232856.6
live            3752.00               NaN     184.00   22657.0      20.0
successful    281396.99         2344300.0  544475.57  268308.8  387812.0
suspended           NaN               NaN        NaN       NaN       NaN
undefined           NaN               NaN        NaN       NaN       NaN

                                                                          \
category   Farmer's Markets      Farms     Fashion Festivals     Fiction
state
canceled                0.0   11506.00   129262.00    2278.0    37056.90
failed              11697.0  118604.05   814673.56   17668.0   452511.76
live                    NaN     593.00    65927.50     551.0     1982.00
successful          75663.0  588805.84  6753450.06  508089.2  1953792.74
suspended               NaN        NaN    72406.00       0.0        1.00
undefined               NaN        NaN         NaN       NaN         NaN

                                                                       \
category   Film & Video   Fine Art    Flight         Food Food Trucks
state
canceled      422954.96    1931.00   12933.0    172229.20     4932.00
failed       1023052.92   38140.00  214908.0   1696644.30   124205.08
live           20695.00    4498.00  107645.0    327076.00      110.00
successful   5936638.81  369244.81  794071.5  10497400.05   493298.60
suspended         30.00       0.00     101.0     60663.00         NaN
undefined     263300.96        NaN       NaN          NaN         NaN

                                                                         \
category     Footwear      Gadgets       Games Gaming Hardware    Glass
state
canceled      60938.0    307867.20   141609.02          4362.0      0.0
failed       130019.0    905062.05   404475.06         89343.4   2505.0
live         142485.0    254182.70    14388.00           871.0      0.0
successful  2694403.1  10415533.07  1929176.94      11721471.0  50658.0
suspended     22480.0     39428.00      306.00         31584.0      NaN
undefined         NaN          NaN     7902.00             NaN      NaN

                                                                             \
category   Graphic Design Graphic Novels     Hardware    Hip-Hop     Horror
state
canceled         52418.00       13044.00   1218811.44   15303.00   18362.61
failed          162070.48       96182.23   1857027.13   96462.31  227107.00
live              1742.00        9947.11    226547.00     167.00    9982.00
successful     3051895.51     2395162.20  29166233.65  434908.14  707841.71
suspended            0.00            NaN     45118.00     359.00       0.00
undefined             NaN            NaN          NaN       0.00        NaN

                                                              \
category   Illustration  Immersive  Indie Rock Installations
state
canceled        5732.00       0.00    23631.11       3065.00
failed        115882.34   31196.20   255809.16      28325.11
live           12677.00    2416.00     6615.00      17705.00
successful   1599356.38  209497.99  4314958.72     166911.86
suspended          5.00        NaN       57.00         95.00
undefined           NaN        NaN         NaN           NaN

                                                                           \
category   Interactive Design        Jazz    Jewelry Journalism      Kids
state
canceled              9441.00     7268.00   38674.00    7366.00    1690.0
failed               87058.00   150215.89   36123.97  116554.80   15787.0
live                 15715.00      255.00    5672.00     498.00    3001.0
successful          115713.01  1165551.37  500777.09  584720.15  261077.3
suspended                 NaN      300.00       0.00      10.00       NaN
undefined                 NaN         NaN        NaN        NaN       NaN

                                                                        \
category    Knitting    Latin Letterpress Literary Journals Live Games
state
canceled    21218.00      0.0         NaN           8719.00    20047.0
failed       6394.25  55618.0       623.0           2013.65   247177.0
live         5487.50   1330.0         NaN               NaN     2120.0
successful  51458.50  36845.5     22861.0         180091.00   200691.5
suspended        NaN      NaN         NaN               NaN      413.0
undefined        NaN      NaN         NaN               NaN        NaN

                                                                           \
category   Makerspaces      Metal Mixed Media Mobile Games Movie Theaters
state
canceled      28854.00    4156.79    29112.33     46692.00           85.0
failed        71022.50   18793.08   156921.70    123315.80        23957.0
live         143256.00    7869.00     5511.00      3597.00         3075.0
successful   169877.52  183868.98  1971531.72    308301.53       418589.2
suspended         0.00      17.00       38.00        91.00            NaN
undefined          NaN        NaN         NaN          NaN            NaN

                                                                         \
category         Music Music Videos    Musical Narrative Film    Nature
state
canceled      56045.41      3093.17    1762.00      824500.46     242.0
failed       803524.66     34367.00   80834.35     1560456.82   17006.0
live          69936.86      1937.00     650.00        6799.88       NaN
successful  9320021.97    248428.70  441880.39     6461968.02  192969.3
suspended     14443.00          NaN      90.00       25336.00       NaN
undefined   1345209.68          NaN        NaN            NaN       NaN

                                                                           \
category    Nonfiction   Painting     People Performance Art Performances
state
canceled      52010.06   13920.00   13815.00        12177.00      2000.00
failed       681071.66  135294.33   64665.01       155011.38     17391.22
live          57832.20    2327.00       0.00         2910.00      2377.00
successful  3149604.56  994103.56  289078.50       771513.53    462508.47
suspended         0.00        NaN      29.00          210.00         1.00
undefined       175.00        NaN        NaN             NaN          NaN

                                                                      \
category   Periodicals Pet Fashion     Photo  Photobooks Photography
state
canceled      82573.02         0.0   1305.00     4566.00    33879.67
failed       150615.85      1176.0  13020.62   147181.04   565824.25
live           5374.55         NaN     11.00    36538.10     2005.00
successful   875985.20     45105.0  10228.00  1785474.42  2999687.32
suspended          NaN      5319.0       NaN         NaN       40.00
undefined          NaN         NaN       NaN         NaN         NaN

                                                                               \
category      Places Playing Cards      Plays     Poetry         Pop  Pottery
state
canceled     1886.60     108299.85    8379.00    5323.72    21648.69    793.0
failed      14517.00     143088.09   38029.00   18129.10   182554.07  12655.0
live            0.00       1105.00   13786.00     938.18      600.00     17.0
successful  64610.34    2965079.95  596187.89  200022.23  1974502.36  46201.5
suspended      20.00         37.00        NaN        NaN         NaN      NaN
undefined        NaN           NaN        NaN        NaN         NaN      NaN

                                                                        \
category        Print  Printing Product Design  Public Art  Publishing
state
canceled       399.00   1249.00     2670324.91    39379.00    60112.76
failed       18838.99   6727.25     5985831.20   379291.62   378139.91
live              NaN   1418.00     2744354.40    46375.00    47380.00
successful  215756.15  20462.00    80891555.83  2021501.53  3013584.98
suspended         NaN       NaN      424497.00    13059.00        9.00
undefined         NaN       NaN            NaN         NaN    15988.00

                                                                     \
category        Punk    Puzzles   Quilts       R&B Radio & Podcasts
state
canceled      160.00    1066.00     50.0    6556.0         17234.23
failed       6439.01  128763.00   8494.0   19583.0         40139.13
live          640.50    2346.00      NaN       NaN           130.00
successful  63835.86   97123.94  13430.0  153975.0       1168430.44
suspended       0.00        NaN      NaN       NaN              NaN
undefined        NaN        NaN      NaN       NaN              NaN

                                                                          \
category   Ready-to-wear Residencies Restaurants      Robots        Rock
state
canceled        27502.00         NaN    17536.00    74910.00    22103.01
failed          50123.00       806.0   316984.20    36928.78   355069.40
live                 NaN         NaN    54490.20      111.00    60226.00
successful     446619.26      1170.0  1581782.22  2249336.20  3865324.03
suspended          92.00         NaN        1.00     1395.00       50.00
undefined            NaN         NaN         NaN         NaN         NaN

                                                                          \
category     Romance Science Fiction   Sculpture      Shorts Small Batch
state
canceled     3716.00         7878.00     5918.00   140634.12     3079.00
failed       6917.00       122072.20   148599.98   707125.69   125309.99
live         6416.00         9710.00      155.00    24804.00    24307.00
successful  71848.42      1548532.56  2621162.49  6967610.04  1330020.17
suspended       0.00        10208.00     2233.00    30404.00      128.00
undefined        NaN             NaN         NaN         NaN         NaN

                                                                           \
category      Software       Sound Space Exploration    Spaces Stationery
state
canceled      66705.13     70056.5           3319.00    6484.0     155.00
failed       423547.93    127646.2          34722.00   75671.0    2233.19
live          10819.01     44942.0               NaN    3145.0     125.00
successful  1200860.24  15630013.7        1674259.82  808600.6   24679.00
suspended         4.00       250.0              9.00       NaN       0.00
undefined       500.00         NaN               NaN       NaN        NaN

                                                                       \
category   Tabletop Games Taxidermy   Technology Television  Textiles
state
canceled       1436577.93      75.0    578127.24   26035.00   1358.00
failed         1532139.75    1797.0   1936214.00   55507.56  21411.51
live           1009476.01       NaN    191399.50    4142.00       NaN
successful    78345994.67       NaN  15612920.85  490911.32  91047.48
suspended        20644.52       NaN    332333.38        NaN       NaN
undefined             NaN       NaN          NaN        NaN       NaN

                                                                               \
category       Theater  Thrillers Translations Typography     Vegan     Video
state
canceled      83890.14   19800.00          NaN       64.0    2216.0    241.00
failed       435522.83   84230.91       8058.0     1342.0   96696.0  71761.00
live           3026.00   22879.00          NaN        NaN    2036.0      0.00
successful  4253865.91  433228.52      99411.3   171483.4  435842.9  61694.02
suspended       451.00      10.00          NaN        NaN       0.0      0.00
undefined      2621.00        NaN          NaN        NaN       NaN       NaN

                                                                             \
category   Video Art  Video Games  Wearables Weaving        Web   Webcomics
state
canceled       101.0   1300561.31   239056.0   212.0   88658.00     5668.00
failed        3057.0   3711669.28   718671.5  6686.0  382408.65    26085.00
live             NaN    401895.00   141310.0     NaN   57931.00    82120.00
successful   64137.5  33268671.52  7381979.5  6019.0  912191.70  1164701.39
suspended        NaN     23883.00     9344.0     0.0      50.00         NaN
undefined        NaN          NaN        NaN     NaN        NaN         NaN

                                                                      \
category     Webseries Woodworking Workshops World Music Young Adult
state
canceled      54679.39      153.01       NaN    17136.00      661.00
failed      1065147.12    60328.00    2360.0   120691.83    20920.20
live            185.00     1211.73       0.0     9580.00      575.00
successful  3821840.97   214568.35   21885.0  1069703.20   145305.62
suspended     14878.00       91.00       0.0       37.00         NaN
undefined          NaN         NaN       NaN         NaN         NaN

                               mean                                           \
category       Zines    3D Printing     Academic   Accessories        Action
state
canceled     6940.00    6283.970588   207.809524   2602.835625    953.000000
failed      19692.00    6295.203390   946.834186   1348.698319   1012.381013
live           80.00  103071.666667    10.333333   3806.500000      0.000000
successful  48668.53  197939.860698  8243.842791  21235.452066  14145.868750
suspended        NaN    5073.000000    56.500000   1911.000000           NaN
undefined        NaN   13757.000000          NaN   2763.000000           NaN

                                                                   \
category        Animals     Animation   Anthologies       Apparel
state
canceled       0.000000   1436.829268   1145.750000   1801.858268
failed       508.705484   2033.181918    617.382353    586.407237
live                NaN  12300.475000    556.500000   6403.286216
successful  6863.372727  19442.735373  16227.826988  30550.025166
suspended      0.000000      0.000000           NaN  11242.600000
undefined           NaN           NaN           NaN           NaN

                                                                   \
category            Apps  Architecture          Art     Art Books
state
canceled     1052.683675   1231.100000   254.363276    483.899655
failed        706.117500   1623.918488   752.526738   1572.354813
live         2146.464286    529.250000  4564.435882  47873.666667
successful  13730.283636  17703.580000  5900.418086  13968.669729
suspended    2597.800000     65.500000     0.000000   1400.520000
undefined            NaN           NaN          NaN           NaN

                                                                  \

In [49]:
res_1.shape

(6, 632)

In [ ]:
df[['state', 'category', 'pledged']].value_counts()